<div class="root-main">
  <div class="root-contents">
  <p class="title1">Welcome to StudyApp</p>
    <p class="title2">Let's Study<//p>
    <%= link_to "Start", diaries_path, class:"top-btn" %>
  </div>
</div>