<!DOCTYPE html>
<html>
  <head>
    <title>StudyApp</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  勉強日記
    <%= yield %>
  </body>
</html>