  <div class="side-bar">
    <%= link_to "日記",  diaries_path, class:"link side-content" %>
    <%= link_to "メソッド", manners_path, class:"link side-content" %>
    <%= link_to "オプション", options_path, class:"link side-content" %>
    <%= link_to "正規表現", expressions_path, class:"link side-content" %>
  </div>