.side-bar{
  width: 20vw;
  background-color: rgb(155, 208, 221);
  border-right: 2px solid white;
}

.side-content{
  padding: 10px;
  font-size: 15px;
}

.link{
  display: block;
  color: rgb(116, 90, 199);
  text-decoration: none;
  text-align: center;
}
