.diary-box {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title,.url-text {
  height: 50px;
  margin: 0px 0px 30px;
  display: block;
  width: 60vw;
}

.text {
  height: 150px;
  width: 60vw;
  resize:none;
  margin: 0px 0px 30px;
  display: block;
}

.year-select,.month-select,.day-select,.hour-select,.minute-select{
  height: 30px;
  width: 100px;
}