
.link{
  display: block;
  text-decoration: none;
}

.post{
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
}

.main-bar{
  display: flex;
  border-top: 2px solid white;
}

/* ヘッダー */

.top-bar{
  display: flex;
  justify-content: space-around;
  height: 40vh;
  background-image: url("header-img.jpg");
}

.wrapper, .user-nav{
  margin: auto 0px;
}

.top-title{
  color: aliceblue;
}

/* サイドバー */

.side-bar{
  width: 20vw;
  background-color: black;
  padding: 10vh 0 10vh;
  border-right: 2px solid white;
  font-size: 15px;
}

.side-content{
  text-align: center;
  padding-bottom: 7vh;
  color: white;
}

/* 一覧表示 */

.diary, .manner, .option, .expression{
  padding-bottom: 40px;
}

.diary-title, .expression-name, .manner-name, .option-name{
  font-size: 15px;
  padding-top: 1vh;
}

/* 詳細ページ */

.show-manner, .show-option{
  padding-bottom: 40px;
}

.diary-day, .diary-contents, .diary-time{
  padding-bottom: 8vh;
}

.show-title, .show-name, .show-text, .show-url{
  padding-bottom: 3vh;
}

.show-text{
  white-space: pre-wrap;
  width: 70%;
  border: 1px solid black;
  margin: 0 auto 10vh;
  padding: 20px;
  text-align: left;
}

.delete-btn{
  margin: auto
}

.edit-btn{
  margin: 15vh auto 0;
}


/* メインバー */

.index-diaries, .new-diary, .show-diary, .search-diaries,
.index-manners, .new-manner, .show-manner, .search-manners,
.index-options, .new-option, .show-option, .search-options,
.index-expressions, .new-expression, .show-expression, .search-expressions,
.contents{
  text-align: center;
  width: 80vw;
  background-color: rgb(106, 180, 230);
  padding: 10vh 0 15vh;
}

.post-btn{
  margin: 15vh auto 0;
}


/* 検索フォーム */

.search-input{
  height: 5vh;
  width: 25vw;
}

.search-btn{
  margin-left: 2vw;
}

/* ユーザー登録、ログイン */

.user-btn{
  margin: 10vh auto;
  width: 150px;
  padding: 10px;
}

.field{
  margin-bottom: 5vh;
}


/* エラーメッセージ */

.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

/* 投稿画面 */

h2{
  color: white;
}

.form-box{
  display: block;
  margin: 0 auto 5vh;
}

.name, .url-text, .title{
  width: 50%;
  height: 5vh;
}

.text{
  width: 50%;
  height: 20vh;
}

.text-box{
  margin: 10vh auto;
}

.day-box, .time-box{
  display: flex;
  margin: 5vh auto;
  justify-content: center;
}

.year-select, .month-select, .day-select, .hour-select, .minute-select{
  display: block;
  height: 4vh;
  margin: 0 2vw;
}

.year-select{
  width: 8vw;
}

.month-select, .day-select, .hour-select, .minute-select{
  width: 5vw;
}