.top-bar{
  height: 20vh;
  background-color: yellow;
  display: flex;
  justify-content: space-around;
}

.post{
  display: block;
  height: 50px;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

.main-bar{
  display: flex;
  height: 1000px;
  background-color: red;
}
.side-bar{
  width: 20vw;
  background-color: rgb(155, 208, 221);
}
.current-contents{
  width: 80vw;
}

.diary-box {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title,.url-text {
  height: 50px;
  margin: 0px 0px 30px;
  display: block;
  width: 60vw;
}

.text {
  height: 150px;
  width: 60vw;
  resize:none;
  margin: 0px 0px 30px;
  display: block;
}

.year-select,.month-select,.day-select,.hour-select,.minute-select{
  height: 30px;
  width: 100px;
}

h1,h3{
  text-align: center;
}

.diary-day{
  font-size: 20px;
  text-align: center;
}

.diary-title{
  font-size: 30px;
  text-align: center;
}

.link{
  display: block;
  width: 150px;
  padding: 10px;
  color: rgb(116, 90, 199);
  text-decoration: none;
  text-align: center;
}