.top-bar{
  height: 20vh;
  background-color: yellow;
  display: flex;
}

.post{
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.main-bar{
  height: 1000px;
  display: flex;
}
.side-bar{
  width: 20vw;
  height: 100%;
  background-color: blue;
}
.current-contents{
  width: 80vw;
  height: 100%;
  background-color: red;
}

.diary-box {
  flex-direction: column;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title,.url-text {
  height: 50px;
  margin: 0px 0px 30px;
  display: block;
  width: 60vw;
}

.text {
  height: 150px;
  width: 60vw;
  resize:none;
  margin: 0px 0px 30px;
  display: block;
}

.year-select,.month-select,.day-select,.hour-select,.minute-select{
  height: 30px;
  width: 100px;
}

h1,h3{
  text-align: center;
}

.diary-day{
  font-size: 20px;
  text-align: center;
}

.diary-title{
  font-size: 30px;
  text-align: center;
}